html { font-size: 18px; -webkit-text-size-adjust: 100%; }
#header, #sig, #content, #footer { max-width: 35rem; margin: 0 auto; }
#posts { list-style: none; padding-left: 0; }
#posts li { text-align: center; }
#footer { text-align: center; text-transform: lowercase; padding: 10px 0px 30px; }
#posted { font-weight: bold; }
#sig { display: block; }
h1 { font-size: 2rem; margin-top: 0.5rem; }
h2, h3, h4, div, p, li, a { font-size: 1rem; }
pre, code { font-size: 0.8rem; overflow: auto; }
pre { background-color: #EEF; border: 1px dashed #000; padding: 8px; }
#about { width: 20em; margin: 0 auto; text-align: center; }
a:link { color: #222; } a:visited { color: #555; } a:hover { color: #777; }
